@charset "utf-8";

/* 信号機 */
.container {
  width: 80%;
  background-color: pink;
  padding: 8px 8px;
  margin: 0 auto;
}

.signal {
  width: 800px;
  height: 280px;
  border: solid 2px gray;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 16px;
  background: #ddd;
  user-select: none;
  margin: 0 auto;
}

.signal > div {
  width: 200px;
  height: 200px;
  border: solid 2px #333;
  border-radius: 50%;
}

#blue {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#btn {
  display: block;
margin: 12px auto 8px;
padding: 0 16px;
font-size: 48px;
font-weight: 900;
border-radius: 8px;
user-select: none;
}

.blue-color {
  background-color: skyblue;
}

.blue-blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.yellow-color {
  background-color: yellow;
}

.red-color {
  background-color: red;
}

.gray-color {
  background-color: #aaa;
}

/* カレンダー */
#calendar {
  width: 500px;
  font-size: 48px;
  border: solid 2px #555;
  border-radius: 8px;
  margin-top: 16px;
  padding: 0 8px;
  text-align: center;
  user-select: none;
  display: flex;
  justify-content: space-around;
  margin: 16px auto;
}

/* 時計 */
#clock {
  width: 340px;
  font-size: 48px;
  border: solid 2px #555;
  border-radius: 8px;
  margin-top: 16px;
  padding: 0 8px;
  text-align: center;
  user-select: none;
  margin: 0 auto;
}
